{% extends "layout.html" %}

{% block content %}
<div class="row row-content">
    <div class="col-12 col-sm-8 offset-sm-2">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-12">
                    <p><b>All inputs are case insensitive. Separate with commas when multiple inputs are required. </b></p>
                    <div class="footnote">
                        <p>* fields are required</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col">
                    <h4 class="required">Select model</h4>
                </div>
                <div class="col">
                    <div class="help-tip" id="model-helptip">
                        <p>Choose your model based on the experimental design used in your Q-PCR. </p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col offset-sm-1">
                    <div class="radio">
                        <label class="col-form-label"><input type="radio" name="option" id="absolute" value="absolute"
                                                             checked required> Absolute </label>
                    </div>
                    <div class="radio">
                        <label class="col-form-label"><input type="radio" name="option" id="relative_dCT"
                                                             value="relative_dCT" required> Relative (delta CT) </label>
                    </div>
                    <div class="radio">
                        <label class="col-form-label"><input type="radio" name="option" id="relative_ddCT"
                                                             value="relative_ddCT" required> Relative (delta delta CT)
                        </label>
                    </div>
                    <div class="radio">
                        <label class="col-form-label"><input type="radio" name="option" id="instability"
                                                             value="instability" required> Instability </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col">
                    <h4 class="required">Upload your data (.csv): </h4>
                </div>
                <div class="col">
                    <div class="help-tip" id="file-helptip">
                    <p>Upload your data: Navigate to your folder of raw data csv files. These should be the output files
                        from you PCR machine. Multiple spread sheets can be included. The data will
                        be combined into a single analysis. Be sure to
                        inclue the control genes you want to normalize. </p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <input type="file" class="custom-file-input" id="file-input" name="file[]" accept=".csv" multiple required>
                    <label class="custom-file-label" for="file-input">Choose file</label>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col">
                    <h4>File information</h4>
                </div>
                <div class="col">
                    <div class="help-tip">
                        <p>Description of the genes, quencher and task </p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <p>Would you like to fill in file information? </p>
                </div>
                <div class="col-sm-2">
                    <label class="radio-inline"><input type="radio" name="file_info" id="y_fileinfo"> Yes</label>
                </div>
                <div class="col-sm-2">
                    <label class="radio-inline"><input type="radio" name="file_info" id="n_fileinfo" checked> No</label>
                </div>
            </div>
            <fieldset class="form-group" id="info_form">
                <div class="input-container">
                    <div class="row mb-0">
                        <label for="genes" class="col col-form-label">If your file does not contain gene or target names, enter target names included in your file name: </label>
                        <div class="col">
                            <div class="help-tip">
                                <p>Something</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="genes" name="genes" placeholder="Target names"
                                       autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="row mb-0">
                        <label for="quencher" class="col col-form-label">Name of your quencher:</label>
                        <div class="col">
                            <div class="help-tip">
                                <p>Something</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="quencher" name="quencher" placeholder="Quencher" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="row mb-0">
                        <label for="task" class="col col-form-label">Name of your sample group in your task column: </label>
                        <div class="col">
                            <div class="help-tip">
                                <p>Default: UNKNOWN</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="task" name="task" placeholder="Task" value="UNKNOWN" autocomplete="off" required>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="form-group row">
                <div class="col-12">
                    <h4>Options</h4>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="cgenes" class="col col-form-label required">Enter target(s) for normalization (endogenous control gene(s)/chromosome(s)): </label>
                    <div class="col">
                        <div class="help-tip">
                            <p>Gene or region to to normalize with (Actin, GAPDH, CHR4, B2M).
                                Must be entered identically to the input spreadsheet.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cgenes" name="cgenes" placeholder="Endogeneous control" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="cutoff" class="col col-form-label">Cut-Off: </label>
                    <div class="col">
                        <div class="help-tip">
                            <p>Technical replicates for a given sample will be removed if the SD
                                of a given sample is above the threshold (default 0.3). </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="cutoff" name="cutoff" value="0.3" step="any" placeholder="Cut-off" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="max_outliers" class="col col-form-label">Max Outliers </label>
                    <div class="col">
                        <div class="help-tip">
                            <p>Max proportion of replicates removed to reach the SD cut off.
                                Default of 0.5 means that in 3 replicates only one can be removed. </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="max_outliers" name="max_outliers" value="0.5" step="any" placeholder="Max outliers" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="preserve_var" class="col col-form-label">Preserve highly variable replicates </label>
                    <div class="col">
                        <div class="help-tip">
                            <p>Preserve outliers if the sample has high variability </p>
                        </div>
                    </div>
                </div>
                <div class="row form-inline">
                    <div class="col-sm-2">
                        <label class="radio-inline"><input type="radio" name="preservevar" id="y_preservevar" value="True">
                            Yes</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline"><input type="radio" name="preservevar" id="n_preservevar" value="False" checked>
                            No</label>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="csample" class="col col-form-label">Enter the control sample (calibrator/reference sample): <span id="specialStar" style="color: #FF0000">*</span></label>
                    <div class="col">
                        <div class="help-tip">
                            <p> The sample used as calibrator (compare with this sample) for the relative (delta delta CT)
                                and for the instability models. </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="csample" name="csample" placeholder="Control sample" autocomplete="off">
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-12">
                    <h4>Visualization options</h4>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="target_order" class="col col-form-label">Enter target order (genes/chromosomes): </label>
                    <div class="col">
                        <div class="help-tip">
                            <p> Enter the order you would like genes/chromosomes to appear on the plots.
                            Use the exact/complete names. </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="target_order" name="target_sorter" placeholder="Target order" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="sample_order" class="col col-form-label">Enter sample order (cell lines/conditions/timepoints): </label>
                    <div class="col">
                        <div class="help-tip">
                            <p> Enter the order you would like genes/chromosomes to appear on the plots.
                            Use the exact/complete names. </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="sample_order" name="sample_sorter" placeholder="Sample order" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="form-group row mb-0">
                    <label for="colnames" class="col col-form-label">Enter the column names you would like to include for statistical analysis: </label>
                    <div class="col">
                        <div class="help-tip">
                            <p>Column names that indicate grouping of the data (e.g. treatments, time points). Do not
                                enter column names for sample names and target names. </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="colnames" name="colnames" placeholder="Column names" autocomplete="off">
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col">
                    <h4>Statistics</h4>
                </div>
                <div class="col">
                    <div class="help-tip">
                        <p>Based on your selections the appropriate statistic will be performed. For 2 groups: paired or
                            unpaired t-tests for normally distributed
                            data, non-paramentric equivalent MannWhitneyU tests are used. For more than 2 groups one way
                            ANOVA (normal distributions) or Kruskal-Wallis
                            independent measures) or Friedman test (repeated measures) will be used. Post hoc
                            comparisons are performed on 3 or more groups. </p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <p>Would you like to do statistical analysis? </p>
                </div>
                <div class="col-sm-2">
                    <label class="radio-inline"><input type="radio" name="stats" id="y_stats"> Yes</label>
                </div>
                <div class="col-sm-2">
                    <label class="radio-inline"><input type="radio" name="stats" id="n_stats" checked> No</label>
                </div>
            </div>
            <fieldset class="form-group" id="stats_form">
                <div class="row">
                    <div class="col-12">
                        <p><b>Compare your samples: t-tests, one-way ANOVA, MannWhitneyU test, Friedman test, Kruskal-Wallis</b></p>
                    </div>
                </div>
                <div class="row mb-0">
                    <label for="quantity" class="col col-form-label">How many groups do you have? </label>
                    <div class="col">
                        <div class="help-tip">
                            <p> Groups can be different genes, time points, animals, treatments or any conditions
                                    you wish to compare. Must be entered as they appear in the spreadsheet. </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="quantity" name="qty" min="1" placeholder="Quantity" autocomplete="off">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <p>How are your groups defined? </p>
                    </div>
                </div>
                <div class="row form-inline">
                    <div class="col-sm-4">
                        <label class="radio-inline" style="padding-top: 2px;"><input type="radio" class="form-control" id="oneway" name="twoway" value="False" autocomplete="off" checked> One-way ANOVA </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline" style="padding-top: 2px;"><input type="radio" class="form-control" id="twoway" name="twoway" value="True" autocomplete="off">  Two-way ANOVA </label>
                    </div>
                </div>
                <div id="form-oneway">
                    <div class="form-inline ">
                        <div class="radio">
                            <label class="col-form-label" style="padding-top: 2px;"><input type="radio" class="form-control" id="opt_gcol" name="option3" value="True" autocomplete="off">  I have a group column </label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="gcol" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the name of your group column: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="gcol" name="gcol" placeholder="Group column name" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="radio">
                            <label class="col-form-label"><input type="radio" class="form-control" id="opt_glist" name="option3" value="False" autocomplete="off">  My group names are within my sample names</label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="glist" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the group names as they are indicated in the sample names: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="glist" name="glist" placeholder="Group names" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div id="form-twoway">
                    <div class="form-inline ">
                        <div class="radio">
                            <label class="col-form-label" style="padding-top: 2px;"><input type="radio" class="form-control" id="tw_gcol" name="option3" value="True" autocomplete="off">  I have a group columns </label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="gcol1" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the names of your group column for variable A: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="gcol1" name="gcol1" placeholder="Group column name" autocomplete="off">
                        </div>
                        <label for="gcol2" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the names of your group column for variable B: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="gcol2" name="gcol2" placeholder="Group column name" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="radio">
                            <label class="col-form-label"><input type="radio" class="form-control" id="tw_glist" name="option3" value="False" autocomplete="off">  My group names are within a column</label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="colname1" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the column name for variable A </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="colname1" name="colname1" placeholder="Column name A" autocomplete="off">
                        </div>
                        <label for="glist1" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the group names as they are indicated in the column (separate with commas) </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="glist1" name="glist1" placeholder="Group names A" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <label for="colname2" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the column name for variable B </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="colname2" name="colname2" placeholder="Column name B" autocomplete="off">
                        </div>
                        <label for="glist2" class="col-12 col-form-label" style="padding-top: 4px;"> Enter the group names as they are indicated in the column (separate with commas) </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="glist2" name="glist2" placeholder="Group names B" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row mb-0 mt-2">
                    <div class="col-sm-6">
                        <p>Is it a time series repeated measures? </p>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline"><input type="radio" name="option2" id="y_rm" value="True"> Yes --- measures are independent</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline"><input type="radio" name="option2" id="n_rm" value="False" checked> No --- measures are independent</label>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-sm-6">
                        <p>Is your data normally distributed? </p>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline"><input type="radio" name="option4" id="y_nd" value="True" checked> Yes --- Parametric tests</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline"><input type="radio" name="option4" id="n_nd" value="False"> No --- Non-parametric tests</label>
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="form-group row">
                 <div class="col-12">
                    <h4>Plots will be automatically generated.</h4>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="g-recaptcha" data-sitekey="6Le3c7oZAAAAABcRAcJ_baCtSOYH8uQJMCFQqGgg"></div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                    <button id="clear" class="btn btn-secondary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
