{% extends "layout.html" %}

{% block content %}
    <div id="help-page">
        <div class="row">
            <p><b>User Guide:&nbsp;</b></p><a rel="help" href="help/UserGuideTemp_Oct15_2020.pdf" target="_blank">
            UserGuideTemp_Oct15_2020.pdf</a>
        </div>
        <div class="row">
            <p><b>Example Data (Absolute): &nbsp;</b></p><a rel="contents" href="help/Absolute.zip">Absolute.zip</a>
        </div>
        <div class="row">
            <p><b>Example Data (Relative): &nbsp;</b></p><a rel="contents" href="help/RELATIVE_example.csv">RELATIVE_example.csv</a>
        </div>
        <div class="row">
            <p><b>Example Data (Instability): &nbsp;</b></p><a rel="contents" href="help/INSTABILITY_example.csv">INSTABILITY_example.csv</a>
        </div>
         <div class="row">
            <p><b>Notes on datasets &nbsp;</b></p><a rel="contents" href="help/Notes_on_Datasets.docx">Notes_on_Datasets.docx</a>
        </div>
    </div>

{% endblock %}